@charset "utf-8";

#divCad{
    margin-top: 1%;
    width: 40%;
}

#parallaxCad{
    margin-top: 4%; 
    background-image: url('../img/back4.jpg');
	background-attachment: fixed;
	width: 100%;
	padding: 5%;
    height: 600px;
}

.inputInc{
    color: rgb(0, 0, 0);
    font-size: 18pt;
    margin-bottom: 3%;

}