@charset "utf-8";

#divCadPrd{
    margin-top: 2%;
    width: 50%;
}

#parallaxCadPrd{
    margin-top: 4%; 
    background-image: url('../img/back3.jpg');
	background-attachment: fixed;
	width: 100%;
	padding: 5%;
    height: 600px;
}

.inputInc{
    color: rgb(255, 254, 254);
    font-size: 18pt;

}
